url = jdbc:mysql://127.0.0.1:3306/gamelogic_dev?useUnicode=true&characterEncoding=UTF-8

#url = jdbc:mysql://139.196.15.213:3306/GameUser?useUnicode=true&characterEncoding=UTF-8

username = root
password = mysql2016
jdbcDriver = com.mysql.jdbc.Driver
tableCodePath=../CommonObject/src/main/java/com/db/model
